.navbar {
    margin: 0 auto;
    width: 80%;
    max-width: 1000px;
}
.navbar ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    color: red;
    font-family: 'Kdam Thmor Pro', sans-serif;
}
.navbar a {
    text-decoration: none;
    color: var(--grey);
}
.navbar a.active {
    color: var(--accent);
}
.navbar a:not(.active):hover {
    text-decoration: none;
    color: var(--accent-lighten)
}
